@import url(https://fonts.googleapis.com/css?family=Roboto:500);
* {
  font-family: "Roboto", sans-serif;
}

// Layout
.center {
  text-align: center;
}
// Typography
.white {
  color: #FFFFFF;
}
// Buttons
.button {
  position: relative;
  padding: 12px 30px;
  margin: 0.3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  border: 0;
  border-radius: 0.2rem;
  outline: 0;
  transition: 1s;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
.button:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}
.button.white {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #fbc02d;
}
.button.primary {
  color: #FFFFFF;
  background: #43e97b;
}
.button.rounded {
  border-radius: 12px;
}
.button.wide {
  width: 150px;
}
